{
    "APPZ": {
        "save_path": "/home/{{ ansible_user }}/site/APPZ"
    },
    "GAMES": {
        "save_path": "/home/{{ ansible_user }}/site/GAMES"
    },
    "MISC": {
        "save_path": "/home/{{ ansible_user }}/site/MISC"
    },
    "MOVIES": {
        "save_path": "/home/{{ ansible_user }}/site/MOVIES"
    },
    "MUSIC": {
        "save_path": "/home/{{ ansible_user }}/site/MUSIC"
    },
    "TV": {
        "save_path": "/home/{{ ansible_user }}/site/TV"
    },
    "XXX": {
        "save_path": "/home/{{ ansible_user }}/site/XXX"
    }
}
