# {{ ansible_managed }}
[Application]
FileLogger\Age={{ qbt_application_FileLogger_Age }}
FileLogger\AgeType={{ qbt_application_FileLogger_AgeType }}
FileLogger\Backup={{ qbt_application_FileLogger_Backup }}
FileLogger\DeleteOld={{ qbt_application_FileLogger_DeleteOld }}
FileLogger\Enabled={{ qbt_application_FileLogger_Enabled }}
FileLogger\MaxSizeBytes={{ qbt_application_FileLogger_MaxSizeBytes }}
FileLogger\Path={{ qbt_application_FileLogger_Path }}
MemoryWorkingSetLimit={{ qbt_application_MemoryWorkingSetLimit }}

[AutoRun]
enabled={{ qbt_autorun_enabled }}
program={{ qbt_autorun_program }}

[BitTorrent]
Session\AlternativeGlobalDLSpeedLimit={{ qbt_bittorrent_SessionAlternativeGlobalDLSpeedLimit }}
Session\AlternativeGlobalUPSpeedLimit={{ qbt_bittorrent_SessionAlternativeGlobalUPSpeedLimit }}
Session\BTProtocol={{ qbt_bittorrent_SessionBTProtocol }}
Session\CheckingMemUsageSize={{ qbt_bittorrent_SessionCheckingMemUsageSize }}
Session\DHTEnabled={{ qbt_bittorrent_SessionDHTEnabled }}
Session\DefaultSavePath={{ qbt_bittorrent_SessionDefaultSavePath }}
Session\ExcludedFileNames={{ qbt_bittorrent_SessionExcludedFileNames }}
Session\HashingThreadsCount={{ qbt_bittorrent_SessionHashingThreadsCount }}
Session\LSDEnabled={{ qbt_bittorrent_SessionLSDEnabled }}
Session\MaxConnections={{ qbt_bittorrent_SessionMaxConnections }}
Session\MaxConnectionsPerTorrent={{ qbt_bittorrent_SessionMaxConnectionsPerTorrent }}
Session\MaxUploads={{ qbt_bittorrent_SessionMaxUploads }}
Session\MaxUploadsPerTorrent={{ qbt_bittorrent_SessionMaxUploadsPerTorrent }}
Session\PeXEnabled={{ qbt_bittorrent_SessionPeXEnabled }}
Session\PeerToS={{ qbt_bittorrent_SessionPeerToS }}
Session\Port={{ qbt_port }}
Session\Preallocation={{ qbt_bittorrent_SessionPreallocation }}
Session\QueueingSystemEnabled={{ qbt_bittorrent_SessionQueueingSystemEnabled }}
Session\RefreshInterval={{ qbt_bittorrent_SessionRefreshInterval }}
Session\SSL\Port={{ qbt_bittorrent_SessionSSLPort }}
Session\SSRFMitigation={{ qbt_bittorrent_SessionSSRFMitigation }}
Session\SaveStatisticsInterval={{ qbt_bittorrent_SessionSaveStatisticsInterval }}
Session\SendBufferLowWatermark={{ qbt_bittorrent_SessionSendBufferLowWatermark }}
Session\SendBufferWatermark={{ qbt_bittorrent_SessionSendBufferWatermark }}
Session\SendBufferWatermarkFactor={{ qbt_bittorrent_SessionSendBufferWatermarkFactor }}
Session\SocketBacklogSize={{ qbt_bittorrent_SessionSocketBacklogSize }}
Session\SuggestMode={{ qbt_bittorrent_SessionSuggestMode }}
Session\Tags={{ qbt_bittorrent_SessionTags }}
Session\ValidateHTTPSTrackerCertificate={{ qbt_bittorrent_SessionValidateHTTPSTrackerCertificate }}

[Core]
AutoDeleteAddedTorrentFile={{ qbt_core_AutoDeleteAddedTorrentFile }}

[LegalNotice]
Accepted=true

[Meta]
MigrationVersion=8

[Preferences]
Advanced\IgnoreSSLErrors={{ qbt_preferences_AdvancedIgnoreSSLErrors }}
Connection\ResolvePeerCountries={{ qbt_preferences_ConnectionResolvePeerCountries }}
General\Locale={{ qbt_preferences_GeneralLocale }}
MailNotification\req_auth={{ qbt_preferences_MailNotificationreq_auth }}
WebUI\AuthSubnetWhitelist={{ ipv4_whitelist | join(',') }}
WebUI\AuthSubnetWhitelistEnabled={{ qbt_preferences_WebUIAuthSubnetWhitelistEnabled }}
WebUI\LocalHostAuth={{ qbt_preferences_WebUILocalHostAuth }}
WebUI\Port={{ qbt_preferences_WebUIPort }}

[RSS]
AutoDownloader\DownloadRepacks=true
AutoDownloader\SmartEpisodeFilter=s(\\d+)e(\\d+), (\\d+)x(\\d+), "(\\d{4}[.\\-]\\d{1,2}[.\\-]\\d{1,2})", "(\\d{1,2}[.\\-]\\d{1,2}[.\\-]\\d{4})"
