---
# tasks file for zero_footprint_qbittorrent_seedbox/05-security

- name: SECURITY | 5.1 Install packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  become: true
  loop: "{{ security_required_rpms }}"
  tags:
    - security

- name: SECURITY | 5.2 Ensure SELinux is set to enforcing mode
  ansible.builtin.lineinfile:
    path: "/etc/selinux/config"
    regexp: '^SELINUX='
    line: "SELINUX=enforcing"
    backup: true
  become: true
  tags:
    - security

- name: SECURITY | 5.3 Restore Autobrr, Mkbrr & Sizechecker files default \
        SELinux security contexts
  ansible.builtin.command: "restorecon -Rv /usr/local/bin/"
  register: restorecon_usr_local_bin
  changed_when: "'Relabeled' in restorecon_usr_local_bin.stdout"
  become: true
  tags:
    - security

- name: SECURITY | 5.4 Start service firewalld
  ansible.builtin.service:
    name: "firewalld"
    state: "started"
    enabled: true
  become: true
  tags:
    - security

- name: SECURITY | 5.5 Allow incoming traffic from whitelisted IPv4 addresses
  ansible.posix.firewalld:
    rich_rule: 'rule family="ipv4" source address="{{ item }}" accept'
    zone: public
    state: enabled
    permanent: true
    immediate: true
  loop: "{{ ipv4_whitelist | split(' ') }}"
  become: true
  tags:
    - security

- name: SECURITY | 5.6 Allow incoming traffic to qbt from anywhere
  ansible.posix.firewalld:
    port: "{{ item }}"
    zone: public
    state: enabled
    permanent: true
    immediate: true
  loop:
    - "{{ qbt_port }}/tcp"
    - "{{ qbt_port }}/udp"
  become: true
  tags:
    - security

- name: SECURITY | 5.7 Remove allowed public services
  ansible.posix.firewalld:
    service: "{{ item }}"
    zone: public
    state: disabled
    permanent: true
    immediate: true
  loop:
    - "ssh"
    - "cockpit"
    - "dhcpv6-client"
  become: true
  tags:
    - security

- name: SECURITY | 5.8 Block all incoming by default
  ansible.posix.firewalld:
    zone: public
    state: enabled
    target: DROP
    permanent: true
  become: true
  tags:
    - security

- name: SECURITY | 5.9 Template the configuration for SSHD
  ansible.builtin.template:
    src: "sshd/sshd_config.j2"
    dest: "{{ sshd_cfg_file }}"
    backup: true
    mode: "0600"
  become: true
  notify:
    - "Reload sshd"
  tags:
    - security

- name: SECURITY | 5.10 Disable shell history
  ansible.builtin.lineinfile:
    path: "/etc/profile"
    regexp: '^HISTSIZE=1000$'
    line: "HISTSIZE=0\nHISTFILE=/dev/null"
    backup: true
  become: true
  tags:
    - security

- name: SECURITY | 5.11 Configure restricted sudo for ansible_user
  # This will end up in /etc/sudoers.d/ folder
  community.general.sudoers:
    name: "{{ ansible_user }}"
    user: "{{ ansible_user }}"
    commands: "{{ restricted_sudo_commands }}"
    nopassword: false
    state: "present"
  become: true
  tags:
    - security

- name: SECURITY | 5.12 Add ftpd_full_access boolean
  ansible.posix.seboolean:
    name: "ftpd_full_access"
    state: true
    persistent: true
  become: true
  tags:
    - security
