# {{ ansible_managed }}
host = "{{ autobrr_cfg_host }}"
port = {{ autobrr_cfg_port }}
# baseUrl = "{{ autobrr_cfg_baseurl }}"
baseUrlModeLegacy = {{ autobrr_cfg_baseurlmodelegacy }}
logLevel = "{{ autobrr_cfg_loglevel }}"
checkForUpdates = {{ autobrr_cfg_checkforupdates }}
sessionSecret = "{{ session_secret.stdout }}"
customDefinitions = "{{ autobrr_cfg_customdefinitions }}"
