# {{ ansible_managed }}
host = "{{ autobrr_cfg_host }}"
port = {{ autobrr_cfg_port }}
# baseUrl = "{{ autobrr_cfg_baseUrl }}"
baseUrlModeLegacy = {{ autobrr_cfg_baseUrlModeLegacy }}
logLevel = "{{ autobrr_cfg_logLevel }}"
checkForUpdates = {{ autobrr_cfg_checkForUpdates }}
sessionSecret = "{{ session_secret.stdout }}"
customDefinitions = "{{ autobrr_cfg_customDefinitions }}"
