#!/bin/bash
# {{ ansible_managed }}

#######################################
# Panic button - initiate panic mode! #
#######################################

# Stop all the services
sudo systemctl stop \
  autobrr@{{ ansible_user }} \
  cross-seed \
  netronome-agent \
  netronome@{{ ansible_user }} \
  qbt \
  vsftpd

# Show if they are all stopped
sudo systemctl is-active \
  autobrr@{{ ansible_user }} \
  cross-seed \
  netronome-agent \
  netronome@{{ ansible_user }} \
  qbt \
  vsftpd

# Remove BT_backup
rm -rvf /home/{{ ansible_user }}/.local/share/qBittorrent/BT_backup/*

# Remove all the data
rm -rvf /home/{{ ansible_user }}/site

# Re-create an empty folder structure
mkdir -pv \
  /home/{{ ansible_user }}/site/APPZ \
  /home/{{ ansible_user }}/site/GAMES \
  /home/{{ ansible_user }}/site/MISC \
  /home/{{ ansible_user }}/site/MOVIES \
  /home/{{ ansible_user }}/site/MUSIC \
  /home/{{ ansible_user }}/site/TV \
  /home/{{ ansible_user }}/site/UPLOAD \
  /home/{{ ansible_user }}/site/XXX

# Change permissions of the newly created structure
chmod -Rv 777 /home/{{ ansible_user }}/site
